{% extends 'drafter/_trifold.html' %}
{% block title %}GameRumble - Main Page{% endblock %}

{#{% block left_content %}#}
{#          <h2>Heading</h2>#}
{#          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>#}
{#          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>#}
{#{% endblock %}#}
{% block content %}
    <div class="jumbotron jumbo-rewrite">
        <img class="home-background" src="{{ STATIC_URL }}img/back.jpg">
    </div>
{% endblock %}
